.cl-face {
  color: #3b5998;
}

.cl-insta {
  color: #3f729b;
}

.cl-twitter {
  color: #00acee;
}

.cl-youTb {
  color: #c4302b;
}

.cl-pintst {
  color: #c8232c;
}

.cl-painter {
  color: #ff8d00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
}

.purple {
  background-color: #3c1567;
}

.blue {
  background-color: #0072bc;
}

.grey {
  background-color: #3c3c3c;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-r3 {
  margin-bottom: 3rem;
}

.btn-black {
  background-color: #000000;
}

.pointer {
  cursor: pointer;
}

nav.navbar {
  text-transform: capitalize;
  position: relative;
  padding-top: 45px;
  min-height: 50px;
  padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
nav.navbar {
  text-transform: capitalize;
}
nav.navbar img.navbar-brand {
  height: 35px;
}
nav.navbar div.navbar-collapse ul.navbar-nav li {
  padding-right: 20px;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a {
  font-size: 0.875em;
  padding-bottom: 0;
  color: #ffffff;
}
nav.navbar div.navbar-collapse ul.nav-top {
  height: 50px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}
nav.navbar div.navbar-collapse ul.nav-top li {
  display: flex;
  align-items: center;
  padding-right: 12px;
}
nav.navbar div.navbar-collapse ul.nav-top li a {
  display: inline-block;
  font-size: 0.75em;
  padding-left: 8px;
  color: #ffffff;
}
nav.navbar div.navbar-collapse ul.nav-top li .fas {
  font-size: 18px;
  color: #009cff;
}
nav.navbar div.navbar-collapse ul.nav-top .my-dropdown {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
nav.navbar div.navbar-collapse ul.nav-top .my-dropdown .dropdown-menu {
  min-width: 100%;
}
nav.navbar div.navbar-collapse ul.nav-top .my-dropdown .lang.dropdown-item {
  padding: 0;
  text-align: center;
}
@media (max-width: 1200px) {
  nav.navbar {
    display: block;
  }
  nav.navbar ul.navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

.cont-jumbo {
  background-image: url("./img/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont-jumbo .my-jumbo {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: inherit;
}
.cont-jumbo .my-jumbo .logo-jumbo img {
  width: 240px;
}
.cont-jumbo .my-jumbo .lead-off {
  font-style: italic;
  color: #c70cb9;
}
.cont-jumbo .my-jumbo div.btn-jumbo {
  padding-top: 2rem;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn.btn-lg {
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 0;
}
.cont-jumbo .my-jumbo div.btn-jumbo a:hover {
  opacity: 0.8;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn:first-child {
  color: #ffffff;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn:last-child {
  color: #000000;
}

.cont-nav {
  background-color: black;
}

main {
  background-color: #e8e8e8;
}
main .container {
  padding-left: 0;
  padding-right: 0;
}
main .header-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
main section.cards #cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
main section.cards #cardList .myCard {
  background-color: inherit;
  width: calc(100% / 3);
  padding: 0 15px;
  border: none;
}
main section.cards #cardList .myCard img {
  width: 100%;
}
main section.cards #cardList .myCard .card-body {
  background-color: #ffffff;
  min-height: 180px;
}
main section.cards #cardList .myCard .card-body h5 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
main section.cards #cardList .myCard .card-body p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main section.cards2 {
  margin-top: 50px;
}
main section.cards2 #cardList {
  display: flex;
  flex-wrap: wrap;
}
main section.cards2 #cardList .myCard {
  display: flex;
  flex-flow: row;
  border: none;
  border-radius: 0;
}
main section.cards2 #cardList .myCard img {
  width: 50%;
  border: none;
}
main section.cards2 #cardList .myCard .myCard-body {
  width: 50%;
  color: #ffffff;
}
main section.cards2 #cardList .myCard .myCard-body h5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main section.cards2 #cardList .myCard .myCard-body p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main section.cards2 #cardList .myCard .myCard-body a {
  padding: 10px 25px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
}
main section.cards2 #cardList .myCard .myCard-body a:hover {
  opacity: 0.8;
}
main section.cards2 #cardList .myCard:nth-child(odd) .myCard-body {
  order: 0;
}
main section.cards2 #cardList .myCard:nth-child(odd) img {
  order: 1;
}

footer {
  text-transform: capitalize;
}
footer section.link {
  background-color: #ececec;
}
footer section.link div.container.lists {
  display: flex;
  justify-content: space-between;
}
footer section.link div.container.lists ul.list-group {
  height: 250px;
  margin-top: 50px;
}
footer section.link div.container.lists ul.list-group li.list-group-item:first-child {
  font-size: 16px;
}
footer section.link div.container.lists ul.list-group li.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border: none;
  background-color: inherit;
}
footer section.link div.container.lists ul.list-group li.list-group-item a {
  color: #000000;
}
footer section.link .row div.container.icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
footer section.link .row div.container.icon ul.list-group {
  flex-direction: row;
  padding-right: 10px;
}
footer section.link .row div.container.icon ul.list-group li {
  background-color: inherit;
  border: none;
  padding: 0;
}
footer section.link .row div.container.icon ul.list-group li .fab, footer section.link .row div.container.icon ul.list-group li .fas, footer section.link .row div.container.icon ul.list-group li .far {
  padding: 5px;
  font-size: 35px;
}
footer section.termsAndConditions {
  height: 100px;
  background-color: #1e1e1e;
  display: flex;
}
footer section.termsAndConditions .container {
  display: flex;
  justify-content: space-between;
}
footer section.termsAndConditions .container .logo-partner {
  padding-right: 50px;
  display: flex;
  align-items: center;
}
footer section.termsAndConditions .container .logo-partner img {
  height: 50px;
  padding-right: 20px;
}
footer section.termsAndConditions .container div.Copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}
footer section.termsAndConditions .container div.Copyright a {
  padding-right: 15px;
  color: #999;
}
footer section.termsAndConditions .container div.Copyright nobr {
  color: #ffffff;
}

.cont-jumbo {
  background-image: url("./img/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont-jumbo .my-jumbo {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: inherit;
}
.cont-jumbo .my-jumbo .logo-jumbo img {
  width: 240px;
}
.cont-jumbo .my-jumbo .lead-off {
  font-style: italic;
  color: #c70cb9;
}
.cont-jumbo .my-jumbo div.btn-jumbo {
  padding-top: 2rem;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn.btn-lg {
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 0;
}
.cont-jumbo .my-jumbo div.btn-jumbo a:hover {
  opacity: 0.8;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn:first-child {
  color: #ffffff;
}
.cont-jumbo .my-jumbo div.btn-jumbo a.btn:last-child {
  color: #000000;
}

* {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header, main, footer {
  width: 100%;
}

.row {
  margin: 0;
}
