* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

nav.navbar {
  position: relative;
  padding-top: 45px;
  min-height: 50px;
}
nav.navbar div.navbar-collapse ul.nav-top {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

.cont-nav {
  background-color: black;
}

.cont-jumbo {
  background-color: green;
}

header, main, footer {
  width: 100%;
}
