.purple{
    background-color: #3c1567;
}

.blue{
    background-color: #0072bc;
}

.grey{
    background-color: #3c3c3c;
}


.mb-0{
    margin-bottom: 0;
}

.mb-r3{
    margin-bottom: 3rem;
}

.btn-black{
    background-color: #000000;
}
