.cont-jumbo{

    @include bg-img('./img/bg-painter-home.jpg',no-repeat,cover);
    background-position: center;

    .my-jumbo{
        @include py(6rem);
        background-color: inherit;

        .logo-jumbo {
            img{
                width: 240px;
            }
        }

        .lead-off{
            font-style: italic;
            color: $txt-pink;
        }

        div.btn-jumbo{
            padding-top: 2rem;
            a.btn.btn-lg{
                @include px(2rem);
                @include txt-Uppercase;
                border: 2px solid $black;
                border-radius: 0;
            }
            a.btn:first-child{
                color: $white;
            }

            a.btn:last-child{
                color: $black;
            }
        }
    }
}
