nav.navbar{
    @include NavProperty;

    &{
        @include txt-Capitalize;
        img.navbar-brand{
            height: 35px;
        }
    }

    & div.navbar-collapse{
        ul.navbar-nav{
            li{
                padding-right: 20px;
                a{
                    font-size: 0.875em;
                    padding-bottom: 0;
                    color: $white;
                }
            }
        }

        ul.nav-top{
            height: 50px;
            @include position(absolute, top, right, 10);
            li{
                display: flex;
                align-items: center;
                padding-right: 12px;
                a{
                    display: inline-block;
                    font-size: 0.75em;
                    padding-left: 8px;
                    color: $white;
                }

                .fas{
                    font-size: 18px;
                    color: $fasColor;
                };
            }
            .my-dropdown{
                display: flex;
                @include my-auto;

                .dropdown-menu{
                    min-width: 100%;
                }

                .lang.dropdown-item{
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: $layout-breakpoint-small) {
    nav.navbar{
        min-height: 0;
        display: block;
        ul.navbar-nav{
            @include mx-auto;
        }
    }
}

@media (max-width: $layout-breakpoint-toggle) {

    div.container{
        max-width: 100%;
        padding: .5rem 1rem;
        @include mx(0);
        .navbar-toggler{
            float: left;
        }
        nav.navbar {
            @include py(0);
            text-align: center;
        }

        nav.navbar div.navbar-collapse{
            width: 100%;
            text-align: left;

            ul.navbar-nav{
                @include my(20px);
                width: 100%;
                text-align: left;
            }

            ul.nav-top{
                @include my(20px);
                position: relative;
                display: contents;
            }
        }
    }
}
