$w_100: 100%;

// Color
$white: #ffffff;

$txt-pink: #c70cb9;

$black: #000000;

$lightGreyMain: #e8e8e8;

$fasColor: #009cff;


$fontSize : 14px;

// Media query breakpoints
$layout-breakpoint-small: 1200px;
